.gradle
.idea/workspace.xml
.idea/gradle.xml
.idea/libraries/
.idea/modules/
.idea/uiDesigner.xml
lib/
mal-tournament-android/google-services.json
mal-tournament-android/build
mal-tournament-java/build
mal-tournament-lib/build
out